html {
  --main-bg-color: #0b4571;
  --main-text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bubble {
  margin: 12px auto;
  width: 240px;
  height: 240px;
  background-color: whitesmoke;
  border-radius: 50%;
  border: 4px solid var(--main-text-color);
  display: inline-block;
  text-align: center;
  transition-duration: 1s;
}

.bubble h3 {
  margin: 32px;
  color: var(--main-bg-color);
  transition-duration: 1s;
}

.bubble:hover {
  background-color: var(--main-bg-color);
  box-shadow: 5px 5px 15px whitesmoke;
}

.bubble:hover .bubble-content {
  color: var(--main-text-color);
}

.bubble:hover h3 {
  color: var(--main-text-color);
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bubble .bubble-content {
  padding: 12px;
  transition-duration: 1s;
  color: var(--main-bg-color);
}
